// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'compass';
@import 'config/variables.scss';
@import 'mixin.scss';

body{
  background-color: #FFFDF5;
}

ul{
  list-style: none;
}

input, textarea{
  background-color: #fff;
  resize: none;
  &::placeholder{
    color: #e0e0e0;
  }
}

//index.html

//language-icons
ul.lang-wrapper{
  text-align: right;
  
  li{
    display: inline-block;
    
    img{
      width: 50px;
    }
  }
}

//main
.contents-wrapper{
  @media #{$more-than-tb}{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.article-box{
  min-height: 160px;
  background-color: #fff;
  @include box-shadow(1px 3px 6px 1px #e3e3e3);
  @include border-radius(3px);
  
  @media #{$sp-size}{
    width: 100%;
    margin: 16px 0;
    padding: 16px;
  }
  @media #{$more-than-tb}{
    width: 48%;
    margin-bottom: 8px;
    padding: 16px;
  }
  
  &__inner{
    position: relative;
    
    @media #{$sp-size}{
      height: 160px;
    }
    @media #{$more-than-tb}{
      height: 100%;
    }
  }
  
  &__title{
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    width: 100%;
    text-align: center;
    color: $main-font-color;
    @include fontsize(24);
  }
  
  &__tag-wrapper{
    position: absolute;
    bottom: 0;
    padding-top: 24px;
    
    .tag-box{
      display: inline-block;
      padding: 4px 8px;
      color: $sub-font-color;
      background-color: #f4f4f4;
      @include fontsize(14);
      @include border-radius(7px);
    }
  }
}

//sidebar
.sidebar{
  padding: 0;
  background-color: #FFF;
  @include box-shadow(1px 3px 6px 1px #e3e3e3);
  @include border-radius(3px);
  
  @media #{$sp-size}{
    margin: 0 15px;
  }
}
.sideblock{
  &__title{
    padding: 4px;
    font-weight: bold;
    color: #FFF;
    background-color: #FFC14B;
  }
  
  &__list{
    color: $main-font-color;
    padding: 0 8px;
    
    li{
      margin: 8px 0;
    }
  }
}

#footer{
  margin-top: 40px;
  padding: 24px 0;
  text-align: center;
  color: #FFF;
  background-color: #FFC14B;
  
  p{
    display: inline;
  }
}

//show
.content-box{
  width: 100%;
  background-color: #FFF;
  color: $main-font-color;
  @include box-shadow(1px 3px 6px 1px #e3e3e3);
  @include border-radius(3px);
  
  @media #{$sp-size}{
    padding: 24px 24px 56px;
  }
  @media #{$more-than-tb}{
    padding: 56px 40px 80px;
  }
  
  &__title{
    &:after{
      content: '';
      display: block;
      clear: both;
      width: 100%;
      border: #FFC04A solid 1px;
    }
  }
  
  &__content{
    @media #{$sp-size}{
      padding-top: 24px;
    }
    @media #{$more-than-tb}{
      padding-top: 56px;
    }
  }
}

//new
.input{
  width: 100%;
  margin-bottom: 24px;
  padding: 8px 16px;
  border: 1px solid #e3e3e3;
  @include border-radius(2px);
}

.button{
  width: 100%;
  padding: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFF;
  background-color: #249DEB;
  @include box-shadow(1px 3px 6px 1px #e3e3e3);
  @include border-radius(3px);
}