body {
  background-color: #FFFDF5; }

ul {
  list-style: none; }

ul.lang-wrapper {
  text-align: right; }
  ul.lang-wrapper li {
    display: inline-block; }
    ul.lang-wrapper li img {
      width: 50px; }

@media (min-width: 768px) {
  .contents-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

.article-box {
  min-height: 160px;
  background-color: #fff;
  -moz-box-shadow: 1px 3px 6px 1px #e3e3e3;
  -webkit-box-shadow: 1px 3px 6px 1px #e3e3e3;
  box-shadow: 1px 3px 6px 1px #e3e3e3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .article-box {
      width: 100%;
      margin: 16px 0;
      padding: 16px; } }
  @media (min-width: 768px) {
    .article-box {
      width: 48%;
      margin-bottom: 8px;
      padding: 16px; } }
  .article-box__inner {
    position: relative; }
    @media (max-width: 767px) {
      .article-box__inner {
        height: 160px; } }
    @media (min-width: 768px) {
      .article-box__inner {
        height: 100%; } }
  .article-box__title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #4E4E4E;
    font-size: 24px;
    font-size: 1.5rem; }
  .article-box__tag-wrapper {
    position: absolute;
    bottom: 0;
    padding-top: 24px; }
    .article-box__tag-wrapper .tag-box {
      display: inline-block;
      padding: 4px 8px;
      color: #898989;
      background-color: #f4f4f4;
      font-size: 14px;
      font-size: 0.875rem;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px; }

.sidebar {
  padding: 0;
  background-color: #FFF;
  -moz-box-shadow: 1px 3px 6px 1px #e3e3e3;
  -webkit-box-shadow: 1px 3px 6px 1px #e3e3e3;
  box-shadow: 1px 3px 6px 1px #e3e3e3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .sidebar {
      margin: 0 15px; } }

.sideblock__title {
  padding: 4px;
  font-weight: bold;
  color: #FFF;
  background-color: #FFC14B; }
.sideblock__list {
  color: #4E4E4E;
  padding: 0 8px; }
  .sideblock__list li {
    margin: 8px 0; }

#footer {
  margin-top: 40px;
  padding: 24px 0;
  text-align: center;
  color: #FFF;
  background-color: #FFC14B; }

.content-box {
  width: 100%;
  background-color: #FFF;
  color: #4E4E4E;
  -moz-box-shadow: 1px 3px 6px 1px #e3e3e3;
  -webkit-box-shadow: 1px 3px 6px 1px #e3e3e3;
  box-shadow: 1px 3px 6px 1px #e3e3e3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  @media (max-width: 767px) {
    .content-box {
      padding: 24px 24px 56px; } }
  @media (min-width: 768px) {
    .content-box {
      padding: 56px 40px 80px; } }
  .content-box__title:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    border: #FFC04A solid 1px; }
  @media (max-width: 767px) {
    .content-box__content {
      padding-top: 24px; } }
  @media (min-width: 768px) {
    .content-box__content {
      padding-top: 56px; } }

/*# sourceMappingURL=style.css.map */
